h1.content {
    font-family: UbuntuLight;
    margin-bottom: 1.25em;
}

h2.content {
    font-family: UbuntuLight;
    margin-bottom: 0.5em;
}

p.content {
    margin-bottom: 1.5em;
    text-align: justify;
}