.footer {
    font-size: 0.9em;
    color: #555;
}

.col_contacts {
    width: 17em;
}

.col_about {
    width: 13em;
}

.table_title {
    font-weight: bold;
}

.table_data {
    font-weight: normal;
}