.header_panel {
    display: inline-block;
    margin: 0;
}

#left_panel {
    text-align: left;
    float: left;
}

#center_panel {
    text-align: center;
}

#right_panel {
    text-align: right;
    float: right;
}

.top_menu_item {
    color: #aaa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.top_menu_item:hover {
    color: #000;
}
