input {
    padding: 5px;
    margin: 3px 0;
    font-size: 1em;
}

.text_field {
    width: 15em;
    height: 2.1em;
    border: 1px solid #ddd;
    background-color: #fff;
}

#submitLogin {
    margin-bottom: 3em;
}
