@media screen and (max-width: 1000px) {

    div.containers {
        width: 90%;
    }

    #content_container h1 {
        font-size: 2.5em;
    }

    h2.content {
        font-size: 1.4em;
    }

    .text_field {
        width: 12em;
        height: 2em;
    }
}

@media screen and (max-width: 600px) {

    #content_container h1 {
        font-size: 2em;
    }

    h2.content {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 450px) {

    #content_container h1 {
        font-size: 1.5em;
    }

    h2.content {
        font-size: 1.25em;
        font-weight: bold;
    }
}
